@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
header img {
  width: 10rem;
  height: 5rem;
}
header nav a {
  text-decoration: none;
  color: #98A3D2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0 2rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
header nav a:hover {
  color: #7F8BC9;
}
header nav a:active {
  color: #6C75B9;
}
header nav .active {
  color: #6C75B9;
}

@media only screen and (max-width: 858px) {
  header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  nav {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 696px) {
  nav {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  nav,
  img {
    display: none;
  }
}
.hero {
  background-image: linear-gradient(to top, #336FBE, #C1DAF7);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #202020;
}
.hero .callout {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.hero button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #F8AC19;
  border: 2px solid #202020;
  color: #202020;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero button:hover {
  background-color: #d79007;
}
@media only screen and (max-width: 576px) {
  .hero button {
    display: none;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  margin: auto;
  width: 80%;
  margin-bottom: 5rem;
  grid-template-areas: "offers offers" "sales references";
}

.offers {
  grid-area: offers;
  background-color: #9797F7;
  padding: 1rem;
  color: #202020;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header icon" "text1 text1" "text2 text2";
}
.offers h2 {
  grid-area: header;
}
.offers i {
  grid-area: icon;
  font-size: 2.5rem;
  color: #FFFFFF;
  justify-self: end;
  padding: 0.5rem;
}
.offers p:nth-of-type(1) {
  grid-area: text1;
  margin: 0;
}
.offers p:nth-of-type(2) {
  grid-area: text2;
  margin: 0;
  margin-bottom: 1rem;
}

.sales {
  grid-area: sales;
  background-color: #A8A8BA;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header icon" "text text";
}
.sales h2 {
  grid-area: header;
  margin-bottom: -20px;
}
.sales i {
  grid-area: icon;
  font-size: 2.5rem;
  color: #FFFFFF;
  justify-self: end;
  padding: 0.5rem;
}
.sales p {
  grid-area: text;
  margin: 0;
  margin-top: -20px;
}

.references {
  grid-area: references;
  background-color: #6867AB;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header icon" "text text";
}
.references h2 {
  grid-area: header;
  margin-bottom: -20px;
}
.references i {
  grid-area: icon;
  font-size: 2.5rem;
  color: #FFFFFF;
  justify-self: end;
  padding: 0.5rem;
}
.references p {
  grid-area: text;
  margin: 0;
  margin-top: -20px;
}

@media only screen and (max-width: 1175px) {
  main {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "offers" "sales" "references";
  }
  main .offers i,
  main .sales i,
  main .references i {
    display: none;
  }
}
.cards {
  margin: 0 auto;
  width: 80%;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cards .card {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0.8rem;
  background-color: #C1DAF7;
  box-shadow: 0 2px 5px 0 #75ACEE;
  border-radius: 10px;
  border: 2px solid #75ACEE;
  transition: box-shadow 0.3s ease;
}
.cards .card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.cards .card h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #202020;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px #202020;
}
.cards .card p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #202020;
  margin-top: 5px;
}
.cards .card .price {
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #202020;
  padding: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .cards .card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .cards .card .price {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
  }
}

.final {
  background-color: #C1DAF7;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.final h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #202020;
  margin-top: 0;
}
.final p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #202020;
  margin-top: -1rem;
  margin-bottom: 1rem;
  line-height: 1.8;
}
.final i {
  font-size: 5em;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .final i {
    display: none;
  }
}

footer {
  background-color: #202020;
  color: #FFFFFF;
  padding: 2rem 0;
  margin-top: 2rem;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}
footer .wrapper .sitemap {
  display: flex;
  flex-direction: column;
}
footer .wrapper .sitemap h4 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #F8AC19;
}
footer .wrapper .sitemap ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .wrapper .sitemap ul li {
  margin-bottom: 0.5rem;
}
footer .wrapper .community {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .wrapper .community h4 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #F8AC19;
}
footer .wrapper .community ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .wrapper .community ul li {
  margin-bottom: 0.5rem;
}
footer .wrapper .company {
  display: flex;
  flex-direction: column;
}
footer .wrapper .company h4 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #F8AC19;
}
footer .wrapper .company ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .wrapper .company ul li {
  margin-bottom: 0.5rem;
}
footer .wrapper .social h4 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #F8AC19;
}
footer .wrapper .social a {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 1rem;
}
@media only screen and (max-width: 768px) {
  footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
  footer .wrapper .sitemap, footer .wrapper .community, footer .wrapper .company {
    margin-bottom: 2rem;
  }
}