$nav-blue: #98A3D2;
$nav-blue-hover: #7F8BC9;
$nav-blue-active: #6C75B9;

$card-blue: #C1DAF7; 
$border-blue: #75ACEE; 
$blue: #9797F7; 
$dark-blue: #6867AB;
$grey: #A8A8BA; 
$light-blue: #C1DAF7;

$white: #FFFFFF;
$yellow: #F8AC19; 
$black: #202020; 

$bottom-blue: #336FBE; 
$top-blue: #C1DAF7;