@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$font-montserrat: 'Montserrat', sans-serif;

$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;
