.cards {
    margin: 0 auto;
    width: 80%;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding: .8rem;
        background-color: $light-blue;
        box-shadow: 0 2px 5px 0 $border-blue;
        border-radius: 10px;
        border: 2px solid $border-blue;
        transition: box-shadow 0.3s ease;
        &:hover {
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        }

        h3 {
            font-size: 1.5rem;
            font-family: $font-montserrat;
            font-weight: $font-weight-bold;
            color: $black;
            margin-bottom: 5px;
            text-shadow: 1px 1px 1px $black;
        }

        p {
            font-size: 1.2rem;
            font-family: $font-montserrat;
            font-weight: $font-weight-normal;
            color: $black;
            margin-top: 5px;
        }
        .price {
            position: relative;
            margin-top: auto; 
            display: flex;
            justify-content: center;
            font-size: 1.2rem;
            font-family: $font-montserrat;
            font-weight: $font-weight-normal;
            background-color: $white;
            color: $black;
            padding: .5rem;
        }

        @media #{$media-query-medium} {
            width: 100%;            // Full width for stacked cards
            margin-bottom: 1rem;
        }

        @media #{$media-query-small} {
            .price {
                display: none;
            }
        }
    
    }
    @media #{$media-query-medium} {
    flex-direction: column; 
    margin: 0 auto;              
    padding: 1rem;          
  }
}